{{>header}}
  <div class='container container-body'>
    <div class='container-child'>
      <div class='et-body'>
        <div class='et-body__image'>
          <img
            src='https://i.ibb.co/brrNQY6/forgot-password.png'
            alt='forgot-password'
          />
        </div>
        <div class='et-body__main'>
          <h2 class='m-20'>Forgot Your Password?</h2>

          <p>Hello {{userName}},</p>

          <p>We have received a request to reset the password for the account
            associated with
            <strong>{{userEmail}}</strong>. No changes have been made to
            your account yet.
          </p>

          <p class='m-20'>You can reset your password by clicking the link below.</p>

          <div class='et-cta m-20'>
            <div class='et-cta__link'>
              <a href={{url}}>RESET YOUR PASSWORD</a>
            </div>
          </div>

          <div class='hr-line'>
            <div class='hr-line__main'>
              <hr />
            </div>
          </div>

          <p>Just so you know. You have 24 hours to pick your password. After
            that, you'll have to ask for a new one.</p>

          <p class='m-20'>Didn't ask for a new Password? You can ignore this
            email.</p>

          <p>-- {{companyName}}</p>
        </div>
      </div>
    </div>
  </div>
{{>footer}}