{{>header}}
  <div class='container container-body'>
    <div class='container-child'>
      <div class='et-body'>
        <div class='et-body__image'>
          <img
            src='https://i.ibb.co/zGZDTC4/Reset-Success.png'
            alt='Password Reset Success Png'
          />
        </div>
        <div class='et-body__main'>
          <h2 class='m-20'>Password Changed Successfully.</h2>

          <p>Hello {{userName}},</p>

          <p>You have changed your password for the account on this platform on
            <strong>{{userEmail}}</strong> email. Your password is changed success.
          </p>

          <p class='m-20'>You can now login your account with new password by clicking the link below.</p>

          <div class='et-cta m-20'>
            <div class='et-cta__link'>
              <a href={{url}}>LOGIN TO ACCOUNT</a>
            </div>
          </div>

          <div class='hr-line'>
            <div class='hr-line__main'>
              <hr />
            </div>
          </div>

          <p>If you have any further issues related to user account please don't hesitate to contact us.</p>

          <p>-- {{companyName}}</p>
        </div>
      </div>
    </div>
  </div>
{{>footer}}